<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./def/head')%>
</head>

<body>
    <%-include('./def/nav')%>
        <div id="container">
            
                <form action="/deneme" method="post">
                    <input type="text" name="username" placeholder="username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Gonder">
                </form>
           
            <img src="/gps.jpg" alt="">
        </div>
</body>

</html>